.Actors{
  color:white;
  margin-top: 70px;
  margin-bottom: 50px;
}

.Actors__image{
  height:50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.Actors__item{
  display: grid;
  grid-template-columns: 20% 40% 10% 30%;
  font-size: 16px;
  font-weight: normal;
  padding-top: 20px;
}

.Actors__name, .Actors__separator{
  opacity: 0.6;
}

.Actors__role{
  justify-self: end;
}