@import "SiteColors.less";

.AddActor {
  width: 90%;
  padding: 15px;
  background-color: @layout-grey;
  margin: auto auto 90px;
  box-shadow: 10px 21px 94px 6px rgba(0, 0, 1, 1);
  &__main-title {
    color: @main-yellow;
    margin: 25px 0 5px;
    text-align: center;
  }
  &__information {
    float: right;
    width: 45%;
    margin: 5px;
  }
  &__image {
    float: left;
    width: 45%;
    margin: 5px;
  }
  &__button {
    display: none;
    background-color: @main-yellow;
    color: #373737;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    opacity: 0.9;
    max-width: 200px;
    padding: 10px 20px;
    margin: 10px auto;
    &:hover {
      opacity: 1;
    }
  }

  &__success {
    display: none;
  }
  &__inputs {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    &::placeholder {
      font-size: 14px;
      font-weight: normal;
      font-family: 'OpenSans', sans-serif;
    }
    &_movie, &_role {
      width: 40%;
      margin: 8px 8px 8px 0;
    }
    &_textarea {
      resize: none;
    }
    &_name {
      font-size: 19px;
      font-weight: bold;
    }
  }
  &__title {
    color: white;
    margin: 25px 0 5px;
  }
  &__remove-button, &__add-button, &__add-tmp-button {
    background-color: @main-yellow;
    color: #373737;
    font-weight: bold;
    padding: 5.5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    opacity: 0.9;
  }
  &__add-tmp-button {
    display: none;
    width: 50%;
    margin: 0 auto;
    max-width: 300px;
  }
  &__movies-block {
    width: 100%;
    margin: 0 auto;
  }
  &__btns {
    margin: auto;
    clear: both;
    width: 360px;
  }
  &__btn {
    background-color: @main-yellow;
    color: #373737;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    opacity: 0.8;
    width: 100px;
    padding: 10px;
    margin: 10px;
    &:hover {
      opacity: 1;
    }
  }
}