@import "SiteColors";

.DynamicList {
  &__button {
    background-color: var(--main-yellow);
    color: #373737;
    font-weight: bold;
    padding: 5.5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    opacity: 0.9;
  }
  &__input {
    width: 90%;
    padding: 8px 20px;
    margin: 8px 8px 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}
