
.Filter {
  background-color: #FAE807;
  width: 14%;
  box-shadow: 5px 0px 15px 2px #000001;
  color:#373737;
  padding: 20px;
  box-sizing: border-box;
  padding-bottom: 10px;
  &__group {
    border-top: 2px solid #373737;
    padding: 10px 0;
  }
  &__header {
    font-size: 20px;
    font-weight: bold;
  }
  &__name {
    padding: 5px;
    font-weight: bold;
  }
  &__filter {
    .input {
      background-color: red;
    }
  }
}
