.HomeLayout {
  width: 90%;
  background-color: #373737;
  margin: auto auto 90px;
  box-shadow: 10px 21px 94px 6px rgba(0, 0, 1, 1);
  padding-top: 40px;
  padding-bottom: 20px;
  &__title {
    color: white;
    text-align: center;
  }
}