@import "SiteColors.less";

.MovieCarousel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  &__movies {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-points-x: repeat(285px);
    scroll-snap-type: mandatory;
  }
  &__button {
    background-color: @main-yellow;
    width: 60px;
    border: none;
    opacity: 0.8;
    transition: opacity 0.15s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  &__icon {
    width: 40px;
    height: 50px;
    display: inline-block;
    &_left {
      background: url("../icons/left.svg") no-repeat left;
      background-size: 34px 50px;
    }
    &_right {
      background: url("../icons/right.svg") no-repeat right;
      background-size: 34px 50px;
    }
  }
}