.MovieLayout {
  width: 90%;
  min-height: 600px;
  background-color: #373737;
  margin: 100px auto;
  box-shadow: 10px 21px 94px 6px rgba(0, 0, 1, 1);
  margin-top: 160px;
}

body {
  background-color: #656565;
}
