@import "SiteColors.less";

.MovieCarousel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  height: 511px;
  padding: 15px;
  &__movies {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-points-x: repeat(285px);
    scroll-snap-type: mandatory;

    width: 100%;
    margin: auto;
  }
  &__button {
    background-color: transparent;
    width: 60px;
    border: none;
    opacity: 0.8;
    transition: opacity 0.15s ease-in-out;
    position: absolute;
    height: 500px;

    &:hover {
      opacity: 1;
      background-color: #1e1d1d99;
    }
    &_backward {
      left: 5%;
    }
    &_forward {
      right: 5%;
    }
  }
  &__icon {
    width: 40px;
    height: 50px;
    display: inline-block;
    &_backward {
      background: url("icons/backward.svg") no-repeat left;
      background-size: 34px 50px;
    }
    &_forward {
      background: url("icons/forward.svg") no-repeat right;
      background-size: 34px 50px;
    }
  }
}