@import "SiteColors";

.MovieLayoutInfo {
  color: var(--white-text);
  margin-right: 40px;
  padding-top: 20px;
  float: right;
  width: 60%;
  min-width: 600px;
  @media (max-width: 1110px) {
    width: 90%;
    min-width: initial;
    float: none;
    margin: 0 auto;
  }

  &__name {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
  }
  &__description {
    font-size: 16px;
    color: var(--white-text);
    opacity: 0.6;
  }
  &__extra {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    color: var(--white-text);
    font-weight: bold;
    padding-top: 40px;
    @media (max-width: 768px) {
      display: block;
      padding-top:0;
    }
  }
  &__value {
    float: right;
    margin-right: 20px;
    opacity: 0.6;
    font-weight: normal;
  }
  &__donut{
    @keyframes hideshow {
      0% { opacity: 0; }
      10% { opacity: 0.25; }
      15% { opacity: 0.5; }
      100% { opacity: 1; }
    }

    animation: hideshow  11s ease ;
  }
  &__rating {
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
    float: left;
    height: 125px;
    @media (max-width: 768px) {
      float:none;
    }
    &-value {
      text-align: center;
      position: absolute;
      line-height: 125px;
      width: 100%;
    }
  }
}