@var: 5;

.MovieInfo{
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  margin-right: 40px ;
  padding-top: 20px;
  float: right;
  max-width: 600px;
}

.MovieInfo__name{
  font-weight: bold;
  font-size: 50px;
  margin: 0;
}

.MovieInfo__description{
  font-size:16px;
  color:  #ffffff;
  opacity: 0.6;
}

.MovieInfo__extra{
  display: grid;
  grid-template-columns: 20% 40% 40%;
  color:  #ffffff;
  font-weight: bold;
  padding-top: 40px;
}

.MovieInfo__value{
  float: right;
  margin-right: 20px;
  opacity: 0.6;
  font-weight: normal;

}

.MovieInfo__rating{
  grid-row-start: 1;
  grid-row-end: 3;
}


.MovieInfo__rating {
  position: relative;
  float: left;
}

.MovieInfo__rating-value {
  text-align:center;
  position: absolute;
  line-height: 125px;
  width: 100%;
}

