.MoviePoster {
  margin: 5px;
  display: inline-block;
  background-color: #484848;
  font-size: 14px;
  //box-shadow: 0 2px 35px 0 rgba(255, 255, 255, 0.25);
  &__image {
    width: 275px;
    height: 408px;
  }
  &__additional-info {
    margin: 10px;
  }
  &__name {
    font-size: 20px;
    color: white;
    width: 200px;
    margin-bottom: 3px;
  }
  &__genre {
    color: #fae807;
    width: 200px;
  }
  &__rating {
    border: 1px solid;
    padding: 5px 7px;
    border-radius: 3px;
    color: yellow;
    float: right;
    margin-top: -38px;
  }
}