 @import "SiteColors";

.Navigation {
  background-color: var(--main-yellow);
  text-align: center;
  height: 80px;
  padding: 20px 40px;
  box-sizing: border-box;
  box-shadow: 0 5px 50px 6px rgba(0, 0, 1, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  &__tab {
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    background-color: var(--main-yellow);
    color: var(--poster-grey);
    float: left;
    margin-right: 8px;
    margin-left: 10px;
    &_login {
      float: right;
    }
    &_logout {
      float: right;
      border:2px solid var(--poster-grey);
      font-size: 16px;
      padding: 8px 10px;
      box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.21);
    }
    &_active {
      background-color: var(--poster-grey);
      color: var(--main-yellow);
      font-weight: bold;
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.21);
    }
  }
  &__add {
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    background-color: var(--main-yellow);
    color: var(--poster-grey);
    cursor: pointer;
    float: right;
    margin: 0 3px;
    &_active {
      background-color: var(--poster-grey);
      color: var(--main-yellow);
      font-weight: bold;
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.21);
    }
  }
  &__search {
    float: left;
    margin-left: 15px;
    width: 25%;
    margin-top: 2px;
  }
  &__search input{
    width: 90%;
    padding: 6px;
    font-size: 16px;
    border-radius: 15px;
    color: var(--layout-grey);
    border: none;
    outline: none;
    background-color: #f9f3d9;
  }
  &__search > div {
    background-color: #f9f3d9;
    width: 100%;
    border-radius: 15px;
    border: 2px solid var(--layout-grey);
  }
  &__search ul {
    list-style-type: none;
  }
  &__option {
    text-decoration: none;
    color: var(--layout-grey);
    font-size: 17px;
  }
}
