@import "SiteColors.less";

.Navigation {
  background-color: @main-yellow;
  text-align: center;
  height: 80px;
  padding: 20px 40px;
  box-sizing: border-box;
  box-shadow: 0 5px 50px 6px rgba(0, 0, 1, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  &__tab {
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    background-color: @main-yellow;
    color: @poster-grey;
    float: left;
    margin-right: 8px;
    &_login {
      float: right;
    }
    &_logout {
      float: right;
    }
    &_active {
      background-color: @poster-grey;
      color: @main-yellow;
      font-weight: bold;
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.21);
    }
  }
  &__add {
    font-size: 43px;
    color: @poster-grey;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin: -5px 0;
    float: right;
    padding: 0px 10px;
    &_active {
      background-color: @poster-grey;
      color: @main-yellow;
      font-size: 44px;
      border-radius: 3px;
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.21);
    }
    &_actor{
      color: @white-text;
    }
  }
}
