@import "SiteColors";

.Navigation {
  background-color: var(--main-yellow);
  text-align: center;
  height: 80px;
  padding: 20px 40px;
  box-sizing: border-box;
  box-shadow: 0 5px 50px 6px rgba(0, 0, 1, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  &__tab {
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    background-color: var(--main-yellow);
    color: var(--poster-grey);
    float: left;
    margin-right: 8px;
    margin-left: 10px;
    &_login {
      float: right;
    }
    &_logout {
      float: right;
      border:2px solid var(--poster-grey);
      font-size: 16px;
      padding: 8px 10px;
      box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.21);
    }
    &_active {
      background-color: var(--poster-grey);
      color: var(--main-yellow);
      font-weight: bold;
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.21);
    }
  }
  &__add {
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    background-color: var(--main-yellow);
    color: var(--poster-grey);
    cursor: pointer;
    float: right;
    margin: 0 3px;
    &_active {
      background-color: var(--poster-grey);
      color: var(--main-yellow);
      font-weight: bold;
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.21);
    }
  }
  &__search {
    float: left;
    margin-left: 15px;
    width: 200px;
    margin-top: 2px;
    & input {
      padding: 10px 15px;
      font-size: 14px;
      border-radius: 15px;
      border: none;
      outline: none;
      background-color: #fff;
      box-sizing: border-box;

    }
    & > div {
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 15px;
    }
    & ul {
      list-style-type: none;
    }
  }
  &__option {
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 190px;
    color: var(--layout-grey);
    font-size: 15px;
    padding: 5px 0;
    text-align: center;
    display: inline-block;
    margin: 0 0 10px -37px;
  }
}
