.Schedule {
  &__day {
    float: left;
    width: 150px;
    background-color: gold;
  }
  &__time {
    &-string {
      
    }
    &-item {
      display: inline-block;
      height: 100px;
      font-size: 12px;
      margin: 0 10px;
      text-align: center;
    }
  }
  &__film {
    &-list {

    }
    &-name {
      float: left;
      display: block;
      width: 150px;
      background-color: gold;
    }
  }
}