{
  "_id": "5b00177e795bf21b28b74f16",
  "date": {
    "year": 1971,
    "month": 11,
    "day": 10
  },
  "movies": [
    "dear_dictator"
  ],
  "nominations": [],
  "name": "Katie Holmes",
  "slugName": "katie_holmes",
  "info": "Walton Sanders Goggins Jr. (born November 10, 1971) is an American actor. He co_produced and starred in the 2001 short film The Accountant, which won an Academy Award for Best Live Action Short Film.[2] He was nominated for the Primetime Emmy Award for Outstanding Supporting Actor in a Drama Series in the FX series Justified.",
  "city": "Бірмінгем, Алабама, США",
  "image": "Cinema Project/nspas0foy199urrzg0ht",
  "published": true,
  "__v": 1
}