[
  {
    "_id": "5b00177e795bf21b28b74ef2",
    "date": {
      "year": 1982,
      "month": 7,
      "day": 9
    },
    "movies": [
      "the_hurricane_heist"
    ],
    "nominations": [
      "Премія британського незалежного кіно в номінації Найкращий актор/актриса другого плану"
    ],
    "name": "Toby Kebbell",
    "slugName": "toby_kebbell",
    "info": "Tobias Alistair Patrick Kebbell is an English stage and film actor. He is known for his roles in films such as Dead Man's Shoes (2004), RocknRolla (2008), Prince of Persia: The Sands of Time (2010), War Horse (2011), Wrath of the Titans (2012), Dawn of the Planet of the Apes (2014), Fantastic Four (2015), Warcraft (2016), A Monster Calls (2016), and Gold (2016). He is also known for his work in the Black Mirror episode, The Entire History of You. He most recently starred in the second film of the MonsterVerse film series, Kong: Skull Island, which was released in March 2017."
    "city": "Pontefract, West Yorkshire, England",
    "image": "Cinema Project/yvnxovudjddhrrh6jwkq",
    "published": true,
    "__v": 1
  },
  {
    "_id": "5b00177e795bf21b28b74eee",
    "date": {
      "year": 1983,
      "month": 9,
      "day": 21
    },
    "movies": [
      "the_hurricane_heist"
    ],
    "nominations": [
      "Teen Choice Award в номінації Найкращий прорив року: жіноча роль у серіалі",
      "Teen Choice Award в номінації Найкраща актриса екшну/пригодницького фільму"
    ],
    "name": "Maggie Grace",
    "slugName": "maggie_grace",
    "info": "Maggie Grace (born Margaret Grace Denig; September 21, 1983) is an American actress and model, best known for her roles as Shannon Rutherford on the ABC television series Lost and Kim Mills in the Taken trilogy. She has also appeared on The Twilight Saga as Irina. Originally from Worthington, Ohio, she went on to earn a Young Artist Award nomination in 2002 with her portrayal of 15_year_old murder victim Martha Moxley in the television movie Murder in Greenwich. In 2004, Grace was cast as Shannon Rutherford in the television series Lost, on which she was a main cast member for the first two seasons, winning a Screen Actors Guild Award shared with the ensemble cast. Leaving the series, Grace was keen to work more prominently in film, she appeared in The Jane Austen Book Club (both 2007), and opposite Liam Neeson as Kim Mills in Taken in 2008. She reprised the role in Taken 2 (2012) and Taken 3 (2015).",
    "city": "Worthington, Ohio, U.S.",
    "image": "Cinema Project/wqdoibm3wmyvyo5fldsb",
    "published": true,
    "__v": 1
  },
  {
    "_id": "5b00177e795bf21b28b74f03",
    "date": {
      "year": 1989,
      "month": 9,
      "day": 6
    },
    "movies": [
      "tomb_raider",
      "ant-man_and_the_wasp"
    ],
    "nominations": [],
    "name": "Hannah John-Kamen",
    "slugName": "hannah_john-kamen",
    "info": "John-Kamen was born in Anlaby, East Yorkshire, England, the youngest of three children of a Nigerian forensic psychologist father and a Norwegian former fashion model mother.[2] She attended primary school in Kirk Ella and received her secondary education at Hull Collegiate School,[3] and also trained at the National Youth Theatre in London.[4] In 2012, she graduated from the Central School of Speech and Drama.",
    "city": "Anlaby, GB",
    "image": "Cinema Project/sakp3isv3txjtnctiijy",
    "published": true,
    "__v": 2
  },
  {
    "_id": "5b00177e795bf21b28b74efa",
    "date": {
      "year": 1989,
      "month": 10,
      "day": 4
    },
    "movies": [
      "fifty_shades_freed"
    ],
    "nominations": [
      "MTV Movie & TV Award у номінації «Найкращий поцілунок»"
    ],
    "name": "Dakota Johnson",
    "slugName": "dakota_johnson",
    "info": "Dakota Mayi Johnson is an American actress and model. She is the daughter of actors Melanie Griffith and Don Johnson, and her maternal grandmother is actress Tippi Hedren. She had her screen debut alongside her mother in the comedy_drama Crazy in Alabama (1999) and was named Miss Golden Globe in 2006. Following high school graduation, she returned to acting with roles in the films The Social Network (2010), Beastly (2011), 21 Jump Street (2012), and Need for Speed (2014). She also starred in the short_lived Fox comedy series Ben and Kate (2012–2013).",
    "city": "Austin, Texas, U.S.",
    "image": "Cinema Project/t97if01jnr1euz32szad",
    "published": true,
    "__v": 1
  }
]