{
  "_id": "5b00177e795bf21b28b74ef6",
  "date": {
    "year": 1965,
    "month": 9,
    "day": 17
  },
  "movies": [
    "game_night",
  ],
  "nominations": [
    "Премія EMMI за найкращу чоловічу роль у драматичному серіалі"
  ],
  "name": "Kyle Chandler",
  "slugName": "kyle_chandler",
  "info": "Changed info or other fields",
  "city": "Buffalo, New York, United States",
  "image": "Cinema Project/kau8mlqjziqnwhkgiqqq",
  "published": true,
  "__v": 1
}