{
  "_id": "5b00177e795bf21b28b74ed8",
  "duration": {
    "hour": 2,
    "minute": 14
  },
  "startDate": {
    "year": 2018,
    "month": 2,
    "day": 15
  },
  "screenshots": [
    "Cinema Project/dlsxjiwi3aefcgv3blb0",
    "Cinema Project/yheeg5duddnda7zdkp1b",
    "Cinema Project/cv5ll6br7kg1owtmyxj8",
    "Cinema Project/ggssxjq1zvoxprzclvdu",
    "Cinema Project/kuej5pr3loucym3fdmf5",
    "Cinema Project/v3vet38kbxtpfgfcnfks"
  ],
  "Schedule": [
    "22-03-2018 11:00",
    "22-03-2018 13:40",
    "22-03-2018 16:20",
    "22-03-2018 19:00",
    "22-03-2018 21:40"
  ],
  "cast": [
    "michael_jordan",
    "lupita_nyong'o",
    "chadwick_boseman"
  ],
  "name": "Black Panther",
  "slugName": "black_panther",
  "image": "Cinema Project/z3n9cwlcvj22k2hhpuu4",
  "rating": "7.8",
  "description": "Changed info or other fields",
  "trailer": "https://www.youtube.com/embed/xjDjIWPwcPU?autoplay=0",
  "genre": "Action, Adventure, Sci-Fi",
  "format": "3D",
  "technology": "Cinetech+,IMAX",
  "label": "popular",
  "published": true,
  "__v": 3
}