[
    "ghostland",
    "the_commuter",
    "dear_dictator",
    "avengers_infinity_war",
    "stolen_princess_ruslan_and_ludmila",
    "lola","red_sparrow",
    "black_panther",
    "game_night",
    "the_hurricane_heist",
    "fifty_shades_freed",
    "tomb_raider",
    "a_wrinkle_in_time",
    "submergence",
    "rampage",
    "deadpool_2",
    "peter_rabbit",
    "jurassic_world_fallen_kingdom",
    "pacific_rim_uprising",
    "taxi_5",
    "all_the_money_in_the_world",
    "ant-man_and_the_wasp",
    "ready_player_one",
    "you_were_never_really_here",
    "i_kill_giants",
    "the_post"
]