{
  "_id": "5b00177e795bf21b28b74edf",
  "duration": {
    "hour": 2,
    "minute": 10
  },
  "startDate": {
    "year": 2018,
    "month": 4,
    "day": 13
  },
  "screenshots": [
    "Cinema Project/jctf1qovikedmedcy5ro",
    "Cinema Project/jtrnixabcnqivdtwto6i",
    "Cinema Project/sresbh3lnmdfylflwpxr"
  ],
  "Schedule": [
    "12-03-2018 13:15",
    "12-03-2018 18:00"
  ],
  "cast": [
    "dwayne_johnson",
    "will_yun_lee",
    "jeffrey_dean_morgan"
  ],
  "name": "Rampage",
  "slugName": "rampage",
  "image": "Cinema Project/isovqgw8hdvinn4txw5t",
  "rating": "4.4",
  "description": "Davis Okoye and his best friend white gorilla fight monsters in a big city.",
  "trailer": "https://www.youtube.com/watch?v=coOKvrsmQiI",
  "genre": "Action, Adventure, Sci-Fi",
  "format": "3D",
  "technology": "IMAX",
  "label": "soon",
  "published": true,
  "__v": 3
}